@media (orientation: landscape) and (max-width: 1920px) {
    .container {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .pictures-container {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 3vh;
    }

    .circle {
        font-size: 3vh;
        width: 20vh;
        height: 20vh;
        border: 4px solid black;
        border-radius: 10vh;
        position: inherit;
        display: inline-block;
        margin: 1vh;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .container {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
    }

    h2 {
        font-size: 4vh;
    }

    .pictures-container {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 1vh;
    }

    .circle {
        font-size: 3vh;
        width: 25vh;
        height: 25vh;
        border: 2px solid black;
        border-radius: 15vh;
        position: inherit;
        display: inline-block;
        margin: 1vh;
    }
}

@media (orientation: portrait) and (max-width: 2000px) {
    .container {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .pictures-container {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 3vh;
    }

    .circle {
        font-size: 3vh;
        width: 15vh;
        height: 15vh;
        border: 3px solid black;
        border-radius: 10vh;
        position: inherit;
        display: inline-block;
        margin: 3px;
    }
}