@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <nav class="navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <h5>Войдите в аккаунт, чтобы начать играть:</h5>
        <script 
            async src="https://telegram.org/js/telegram-widget.js?21" 
            data-telegram-login="RockPaperScissorsWebGameBot" 
            data-size="large" 
            data-auth-url="http://192.168.1.167:80/Game/Menu" 
            data-request-access="write">
        </script>
    </nav>
</div>
