@{
    ViewData["Title"] = "GameMenu";
}

<link rel="stylesheet" href="~/css/GameIndex/GameIndexMedia.css" asp-append-version="true" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h5 class="game-index-text">120 баллов</h5>
            <h5 class="game-index-text">10 игр сыграно</h5>
            <button id="free-play-button" class="light-button" onclick="location.href='@Url.Action("PlayFree", "Game", new { })'">Свободная игра</button>
            <button id="play-button" class="light-button" onclick="location.href='@Url.Action("LevelSelector", "Game", new { })'">Играть</button>
        </div>
    </div>
</div>
