@{
    ViewData["Title"] = "PlayFree";
}

<link rel="stylesheet" href="~/css/PlayFree/PlayFreeMedia.css" asp-append-version="true" />


@section Scripts {
    <script src=~/js/ajaxRequests.js type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function() 
        {
            proveAuth("@Url.Action("ProveAuth")"); 

            document.getElementById("play-button").onclick = function() { sendQueueRequest("@Url.Action("SendQueueRequest")", 0); }; 

            setInterval(() => hearthbeat("@Url.Action("Hearthbeat")"), 1000);
        };
    </script>
}

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h2>@Model.ViewText</h2>
            <button id="play-button" class="light-button">Начать</button>
        </div>
      </div>
    </div>
</section>
