@{
    ViewData["Title"] = "PlayFree";
}

<link rel="stylesheet" href="~/css/PlayFree/PlayFreeMedia.css" asp-append-version="true" />

@section Scripts {
<script type="text/javascript">

function disconnect()
{
    $.ajax({
    type:"POST",
    url: "@Url.Action("Disconnect")",
    dataType: "action",
    success: function(result){
    console.log(result);
    },
    error: function(request, status, error){
    console.log(status);
    },
    });
}

window.onunload = disconnect;
</script>

<script type="text/javascript">
    document.onload = proveAuth();

    function proveAuth()
    {
            $.ajax({
    type:"POST",
    url: "@Url.Action("ProveAuth")",
    dataType: "action",
    success: function(result){
    console.log(result);
    },
    error: function(request, status, error){
    console.log(status);
    },
    });
    }
</script>
}

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h2>@Model.ViewText</h2>
            <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Начать</button>
        </div>
      </div>
    </div>
</section>
