@{
    ViewData["Title"] = "PlayFree";
}

<link rel="stylesheet" media="all and (orientation:portrait)" href="~/css/PlayFree/Portrait.css">
<link rel="stylesheet" media="all and (orientation:landscape)" href="~/css/PlayFree/Landscape.css">

<div class="text-center centre-fully">
    <h1>@Model.ViewText</h1>
    <button id=light-button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Начать</button>
</div>
