@{
    ViewData["Title"] = "PlayFree";
}

<link rel="stylesheet" media="all" href="~/css/PlayFree/PlayFreeMedia.css">

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h2>@Model.ViewText</h2>
            <button class="light-button">Начать</button>
        </div>
      </div>
    </div>
</section>

