@{
    ViewData["Title"] = "Status";
}

<link rel="stylesheet" href="~/css/Status/StatusMedia.css" asp-append-version="true" />

@section Scripts {
    <script src=~/js/ajaxRequests.js type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function() {
            proveAuth("@Url.Action("ProveAuth")");

            setInterval(() => hearthbeat("@Url.Action("Hearthbeat")"), 1000);
        };
    </script>
}

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>Раунд: 0-1</h2>
                <h2>Победитель: Zikkey</h2>
                <div class="figure-block">
                    <div>
                        <h4>Zikkey</h4>
                        <img class="circle" src="/images/RawCirclesNamed/Hands_710_01.png" alt="ChoiceA"/>
                    </div>
                    <div>
                        <h4>Zikkey2</h4>
                        <img class="circle" src="/images/RawCirclesNamed/Hands_710_02.png" alt="ChoiceB"/>
                    </div>
                    <div>
                        <h4>Zikkey3</h4>
                        <img class="circle" src="/images/RawCirclesNamed/Hands_710_03.png" alt="ChoiceC"/>
                    </div>
                </div>
                <h2 id="status-text">Вы выиграли!</h2>
                <button class="light-button" visibility="hidden">Продолжить</button>
                <button class="light-button">Выйти</button>
            </div>
        </div>
    </div>
</section>


