@{
    ViewData["Title"] = "Status";
}

<link rel="stylesheet" href="~/css/Status/StatusMedia.css" asp-append-version="true" />

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>Раунд: 0-1</h2>
                <h2>Победитель: Zikkey</h2>
                <div class="figure-block">
                    <div>
                        <img class="circle" src="/images/tutorial.png" alt="ChoiceA"/>
                        <h4>Zikkey</h4>
                         <h5>Победитель</h5>
                    </div>
                    <div>
                        <img class="circle" src="/images/tutorial.png" alt="ChoiceA"/>
                        <h4>Zikkey2</h4>
                    </div>
                    <div>
                        <img class="circle" src="/images/tutorial.png" alt="ChoiceA"/>
                        <h4>Zikkey3</h4>
                    </div>
                </div>
                <h2 id="status-text">Вы выиграли!</h2>
                <button class="light-button">Продолжить</button>
            </div>
        </div>
    </div>
</section>


