@{
    ViewData["Title"] = "Win";
}

<link rel="stylesheet" href="~/css/Win/WinMedia.css" asp-append-version="true" />

@section Scripts {
    <script src=~/js/ajaxRequests.js type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function() {
            proveAuth("@Url.Action("ProveAuth")");  
        
            setInterval(() => hearthbeat("@Url.Action("Hearthbeat")"), 1000);
        };
    </script>
}


<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>0 баллов</h2>
                <h2>Уровень: 0</h2>
                <h2>Награда - 0 баллов</h2>
                <image src="/images/SameSize/Win_000.png" id="win-icon" />
                <button class="light-button" onclick="location.href='@Url.Action("Menu", "Game", new { })'">Продолжить</button>
            </div>
        </div>
    </div>
</section>


