@{
    ViewData["Title"] = "Win";
}

<link rel="stylesheet" href="~/css/Win/WinMedia.css" asp-append-version="true" />

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>2000 баллов</h2>
                <h2>Уровень: 5</h2>
                <img id="win-icon" src="/images/tutorial.png" alt="win-icon"/>
                <h3 id="status-text">Поздравляем, награда - 10 баллов.</h3>
                <button class="light-button">Продолжить</button>
            </div>
        </div>
    </div>
</section>


