@{
    ViewData["Title"] = "Win";
}

<link rel="stylesheet" href="~/css/Win/WinMedia.css" asp-append-version="true" />

@section Scripts {
    <script src=~/js/ajaxRequests.js type="text/javascript"></script>
    <script type="text/javascript">
        window.onunload = function() { disconnect("@Url.Action("Disconnect")"); };
        window.onload = function() { proveAuth("@Url.Action("ProveAuth")");  };
    </script>
}


<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>2000 баллов</h2>
                <h2>Уровень: 5</h2>
                <h2>Награда - 100 баллов</h2>
                <image src="/images/SameSize/Win_000.png" id="win-icon" />
                <button class="light-button">Продолжить</button>
            </div>
        </div>
    </div>
</section>


