@media (orientation: landscape) and (max-width: 2300px) {
    .light-button {
        font-size: 4vh;
        width: 40vh;
        height: 20vh;
        border-radius: 100px;
        margin-top: 10vh;
        margin-right: 10vh;
        margin-left: 10vh;
    }

    .game-index-text {
        font-size: 5vh;
        margin-top: 3vh;
    }

    #free-play-button {
        margin-top: 18vh;
    }

    #play-button {
        margin-top: 13vh;
    }
}

@media (orientation: landscape) and (max-width: 1920px) {
    .light-button {
        font-size: 4vh;
        width: 40vh;
        height: 20vh;
        border-radius: 100px;
        margin-top: 10vh;
        margin-right: 10vh;
        margin-left: 10vh;
    }

    .game-index-text {
        font-size: 5vh;
        margin-top: 3vh;
    }

    #free-play-button {
        margin-top: 18vh;
    }

    #play-button {
        margin-top: 13vh;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .light-button {
        font-size: 4vh;
        width: 40vh;
        height: 20vh;
        margin-left: 50vh;
        margin-right: 50vh;
        border-radius: 10vh;
        border: 3px solid black;
    }

    .game-index-text {
        font-size: 7vh;
    }

    #free-play-button {
        margin-top: 6vh;
    }

    #play-button {
        margin-top: 6vh;
    }
}

@media (orientation: portrait) and (max-width: 2000px) {
    .light-button {
        font-size: 4vh;
        width: 40vh;
        height: 19vh;
        border-radius: 10vh;
    }

    .game-index-text {
        font-size: 4vh;
        margin-top: 3vh;
    }

    #free-play-button {
        margin-top: 12vh;
    }

    #play-button {
        margin-top: 12vh;
    }
}
