@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">Войти через телеграм:</h1>
    <script 
    async src="https://telegram.org/js/telegram-widget.js?21" 
    data-telegram-login="RockPaperScissorsWebGameBot" 
    data-size="large" 
    data-auth-url="http://127.0.0.1:80/game" 
    data-request-access="write">
    </script>
</div>
