@media (orientation: landscape) and (max-width: 1920px) {
    .light-button {
        width: 45vh;
        height: 23vh;
        font-size: 4vh;
    }

    h2 {
        font-size: 3vh;
        margin-top: 1vh;
    }

    img {
        margin-top: 1vh;
        margin-bottom: 2vh;
        width: 50vh;
        height: 50vh;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .light-button {
        width: 50vh;
        height: 20vh;
        font-size: 6vh;
        border: 3px solid black;
    }

    h2 {
        margin-top: 1vh;
        font-size: 4vh;
    }

    img {
        margin-top: 4px;
        margin-left: 60vh;
        margin-right: 60vh;
        width: 35vh;
        height: 35vh;
    }
}

@media (orientation: portrait) and (max-width: 2000px) {
    .light-button {
        width: 30vh;
        height: 15vh;
        font-size: 4vh;
    }

    h2 {
        margin-top: 2vh;
    }

    img {
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 45vh;
        height: 45vh;
    }
}