html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 15px;
}

.light-button {
    border: 4px solid black;
    border-radius: 100px;
    background-color: transparent;
    color: black;
}

.light-button:hover:enabled {
    color: gray;
    border-color: gray;
}

.light-button:active:enabled {
    color: black;
    border-color: black;
    background-color: gray;
}

.light-button:disabled {
    color: dimgray;
    border-color: dimgray;
}
