@media (orientation: landscape) and (max-width: 1920px) {
    .light-button {
        width: 40vh;
        height: 20vh;
        font-size: 4vh;
        margin-top: 2vh;
    }

    #status-text {
        margin: 4vh;
    }

    h2 {
        margin: 2vh;
    }

    h3 {
        font-size: 3vh;
    }

    #win-icon {
        width: 45vh;
        height: 45vh;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .light-button {
        width: 45vh;
        height: 20vh;
        font-size: 5vh;
        margin: 0;
        border: 3px solid black;
    }

    #status-text {
        margin: 3vh;
    }

    h2 {
        font-size: 5vh;
        margin: 1vh;
    }

    h3 {
        font-size: 4vh;
        margin: 1vh;
    }

    #win-icon {
        width: 33vh;
        height: 33vh;
    }
}

@media (orientation: portrait) and (max-width: 2000px) {
    .light-button {
        width: 35vh;
        height: 17vh;
        font-size: 4vh;
        margin-top: 3vh;
    }

    #status-text {
        margin: 2vh;
    }

    h2 {
        margin: 2vh;
    }

    h3 {
        font-size: 21px;
    }

    #win-icon {
        width: 35vh;
        height: 35vh;
    }
}